<html>
    <head>
        <script type="text/javascript" src="./static/joystick/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="./static/joystick/js/underscore-min.js"></script>
        <script type="text/javascript" src="./static/joystick/js/backbone-min.js"></script>
        <script type="text/javascript" src="./static/joystick/js/joystick_view.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':5000');
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    function send(dat_x, dat_y){
    	 socket.emit('my event', {"x":dat_x, "y":dat_y});
    }
</script>
    </head>
    <body>

    <script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
        </canvas>
    </script>

    <div id="joystickContent">
    </div>
    <div>
        x: <span id="xVal"></span><br/>
        y: <span id="yVal"></span><br/>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var joystickView = new JoystickView(150, function(callbackView){
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("verticalMove", function(y){
                $("#yVal").html(y);
                var x = parseFloat(document.getElementById("xVal").innerHTML)
                send(x, y);
            });
            joystickView.bind("horizontalMove", function(x){
                $("#xVal").html(x);
                var y = parseFloat(document.getElementById("yVal").innerHTML)
                send(x,y);
            });
        });
    </script>
    </body>
</html>
